<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.londry.londryid">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JasaActivity"></activity>
        <activity android:name=".Cuci"></activity>
        <activity android:name=".Ekspres"></activity>
        <activity android:name=".Gosok"></activity>
        <activity android:name=".Kami"></activity>
        <activity android:name=".Kiloan"></activity>
        <activity android:name=".Pesan"></activity>
        <activity android:name=".Satuan"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>